
// tt0308m
@font-face {
  font-family: 'tt0308m';
  src: 
        url('<%= font_path "tt0308m.eot" %>');
  src: url('<%= font_path "tt0308m.eot" %>?#iefix') format('embedded-opentype'),
       url('<%= font_path "tt0308m.woff" %>') format('woff'),
       url('<%= font_path "tt0308m.ttf" %>') format('truetype'),
       url('<%= font_path "tt0308m.svg" %>#tt0308m') format('svg');
  font-weight: normal;
  font-style: normal;
}

// tt1019m
@font-face {
  font-family: 'tt1019m';
  src: url('<%= font_path "tt1019m.eot" %>');
  src: url('<%= font_path "tt1019m.eot" %>?#iefix') format('embedded-opentype'),
       url('<%= font_path "tt1019m.woff" %>') format('woff'),
       url('<%= font_path "tt1019m.ttf" %>') format('truetype'),
       url('<%= font_path "tt1019m.svg" %>#tt1019m') format('svg');
  font-weight: normal;
  font-style: normal;
}

// CabinCondensed-Regular
@font-face {
  font-family: 'CabinCondensed-Regular';
  src: url('<%= font_path "CabinCondensed-Regular.eot" %>');
  src: url('<%= font_path "CabinCondensed-Regular.eot" %>?#iefix') format('embedded-opentype'),
       url('<%= font_path "CabinCondensed-Regular.woff" %>') format('woff'),
       url('<%= font_path "CabinCondensed-Regular.ttf" %>') format('truetype'),
       url('<%= font_path "CabinCondensed-Regular.svg" %>#CabinCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_trendsetter-Regular';
  src: url('<%= font_path "trendsetter-Regular.eot" %>');
  src: url('<%= font_path "trendsetter-Regular.eot" %>?#iefix') format('embedded-opentype'),
       url('<%= font_path "trendsetter-Regular.woff" %>') format('woff'),
       url('<%= font_path "trendsetter-Regular.ttf" %>') format('truetype'),
       url('<%= font_path "trendsetter-Regular.svg" %>#trendsetter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
