/********** Subbanner ********/

div#subbanner{
  text-align: center;
}

div#quem_somos, #sobre{
  margin: 30px 0;
  padding: 30px 0;
  h1{
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
  }
  p{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
  }
  &:hover{
    h1{
      text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
    }
  }
}


/*****************************/
/********** Menu *************/
/*****************************/

button.navbar-toggle{
	color: white;
	font-weight: 700;
	border-color: 2px solid white;
}

#menu {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
#menu .navbar-nav > li > button {
  font-size: 1.142857143em;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
#menu .navbar-nav > li > button:hover, #menu .navbar-nav > li > button:focus {
  text-decoration: none;
  outline: 0;
  color: #222;
  text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
}
#menu .navbar-nav > .open > button {
  border-radius: 0;
  color: #fff;
  background: none;
}
#menu .navbar-nav > .open > button:hover, #menu .navbar-nav > .open > button:focus {
  color: #fff;
  background: none;
}
.dropdown-menu {
  background: #afafaf;
}
.dropdown-menu > li > button {
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-brand {
  height: auto;
}
#menu .navbar-brand img {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

@media(min-width:768px) {
  #menu {
    padding: 25px 0;
    border: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .navbar-nav, .navbar-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px){
  #menu {
    background: #0a70a7;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    height: 60px;
    img{
    	width: 100px;
    	height: auto;
    }
    #main-menu{
    	position: absolute;
    	background-color:rgba(64, 111, 163, 0.85);
    	.navbar-nav > li > button {
    		color: white;
    	}
		.navbar-header {
			margin-left: 3%;
		}
    }
    button.navbar-toggle{
    	border: 2px solid white;
    	span{
	    	color: white;
	    	font-weight: 700;
	    	background-color: white;
    	}
    	background: transparent;
    	&:focus{
	    	background: transparent;
    	}
    }
  }

}

nav#menu {
  display: flex;
 }



@media (min-width: 768px){

	#menu {
		img{
			width: 35%;
			height: auto;
		}
	}

}
@media (min-width: 1080px){

	#menu {
		img{
			width: 40%;
			height: auto;
		}
	}


}

@media (max-width: 600px){


	nav#menu {
		display: block;
	}

}

#menu.navbar-shrink {
  padding: 0;
  background-color:rgba(000, 000, 000, 0.7);
  button{
    text-decoration: none;
    color: #c4c4c4;
    &:hover, &:focus{
      outline: 0;
      color: white !important;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 1) !important;
    }
  }
}
#menu.navbar-shrink .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
#menu.navbar-shrink .navbar-brand img {
  max-height: 100%;
}
#menu.navbar-shrink .navbar-nav, #menu.navbar-shrink .navbar-form {
  padding-top: 5px;
  padding-bottom: 5px;
}