<li class="dropdown">

  <%= link_to '#', class: "dropdown-toggle ", 'data-toggle' => "dropdown" do %>
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><%= current_a_usuario.nome %> <b class="caret"></b>
  <% end %>

  <ul class="dropdown-menu">
    <% if can? :show, current_a_usuario %>
      <%= menu_item "#{glyph('user', {tag: :span})} #{current_a_usuario.nome}".html_safe, a_usuario_path(current_a_usuario), data: { toggle: 'modal', target: '#modal-element' } %>
    <% end %>
    <% if can? :alterar_senha, current_a_usuario %>
      <%= menu_item "#{glyph('lock', {tag: :i})} #{t('usuarios.password_change_link')}".html_safe, a_usuarios_alterar_senha_path(id: current_a_usuario.to_param), data: { toggle: 'modal', target: '#modal-element' } %>
    <% end %>

  </ul>
    <%= menu_item "#{glyph('log-out', {tag: :span})} Logout".html_safe, "/a/usuarios/sign_out", method: :delete %>
</li>