<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- Menu mobile -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="glyphicon glyphicon-log-out"></span>
      </button>
      <!-- Brand -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar" style="float: left;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-menu" style="float: right;">


      <!-- Menu de usuário -->
      <% if current_a_usuario %>
        <ul class="nav navbar-nav navbar-right">
          <%= render '/template/current_a_usuario' unless current_a_usuario.blank? %>
        </ul>
      <% end %>
    </div>

  </div>
</nav>
