<div id="banner" class="banner-home" style="margin-top: 30px;">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">        
          <div class="product-img">
            <%= image_tag "/numero1.png", class: 'img-responsive' %>
          </div>
      </div>
      <div class="item">        
          <div class="product-img ">
            <%= image_tag "/numero2.png", class: 'img-responsive' %>
          </div>
      </div>
      <div class="item">        
          <div class="product-img ">
            <%= image_tag "/numero3.png", class: 'img-responsive' %>
          </div>
      </div>
      <div class="item">        
          <div class="product-img ">
            <%= image_tag "/numero4.png", class: 'img-responsive' %>
          </div>
      </div>
      <div class="item">        
          <div class="product-img ">
            <%= image_tag "/numero5.png", class: 'img-responsive' %>
          </div>
      </div>
      <div class="item">        
          <div class="product-img ">
            <%= image_tag "/numero6.png", class: 'img-responsive' %>
          </div>
      </div>
    </div>

    <!-- Controls -->

  <!-- Controls -->
  </div>
</div>
