<footer id ="footer" class='hidden-print'>
  <div class="container">
    <p class="text-center"> Copyright ® <%= Date.today.year %> <%= Settings['CONFIGURACOES.title'] %> | Todos os direitos reservados | Desenvolvido por <a href="http://desenvolver.com.br/" target="_blank">DESENVOLVER</a>
    </b></p>
  </div>
</footer>

