<nav id="menu" class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation" data-spy="affix" data-offset-top="80" style="margin-bottom: 0;">

      <div class="navbar-header">
        <!-- Menu mobile -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Brand -->
        <%= link_to root_path do %>
          <img id="logo" src="<%= Settings['CONFIGURACOES.logo'] %>">
        <% end %>


      </div>

      <div class="collapse navbar-collapse" id="main-menu">

        <!-- Menu principal -->
        <ul class="nav navbar-nav font-navbar">
          <li><button id="bt-home" class="menu btn-link">Home</button></li>
          <li><button id="bt-quem-somos" class="menu btn-link">Quem somos?</button></li>
          <li><button id="bt-empreender" class="menu btn-link">Empreender</button></li>
          <li><button id="bt-contato" class="menu btn-link">Contato</button></li>
        </ul>


      </div>

</nav>




    <%= render '/template/frontend/css_changes' %>