<% unless @fotos.blank? %>
  <div id="SlideShowHome" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @fotos.each_with_index do |foto, index| %>
        <div class="item <%= 'active' if index.zero? %>">
          <div class="image-show">
            <%= link_to foto.imagem.url(:original), class: :lightbox, rel: :gallery do %>
              <%= image_tag foto.imagem.url(:show) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% unless @fotos.count == 1 %>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#SlideShowHome" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
      <a class="right carousel-control" href="#SlideShowHome" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
    <% end %>
  </div>
<% end %>







<script>
  $(document).ready(function() {
    $("#SlideShowHome").swiperight(function() {
      $("#SlideShowHome").carousel('prev');
    });
    $("#SlideShowHome").swipeleft(function() {
      $("#SlideShowHome").carousel('next');
    });
  });
</script>