<div id="contato_page" class="container">
<h1>Dúvidas? Contate-nos</h1>
  <%= simple_form_for @contato, remote: true, html: {id: :contato_form} do |f| %>
    <div id="form_error">
      <%= render '/template/form_error', object: @contato %>
    </div>
    <%= f.input :remote_ip, as: :hidden, input_html: {value: request.remote_ip} %>
    <%= f.input :user_agent, as: :hidden, input_html: {value: request.env['HTTP_USER_AGENT']} %>
    <div class="row">
      <div class="col-xs-12">
            <%= f.input :nome, label: "Nome: ", input_html: {placeholder: '', maxlength: 86} %>
            <%= f.input :email, label: "E-mail: ", input_html: {placeholder: '', maxlength: 64}, as: :email %>
            <%= f.input :telefone, label: "Telefone: ", input_html: {placeholder: '', onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
            <%= f.input :mensagem, label: "Mensagem: ", input_html: {rows: 10, maxlength: 1024} %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="form-group text-right">
          <%= f.button :submit, 'ENVIAR', class: "btn btn-black btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>




<script type="text/javascript">

  $(".form-control").keyup(function() {
    $(this).val($(this).val().toUpperCase());
  });

</script>


<style type="text/css">
  #contato_page{
    margin: 100px 0;
  }
</style>