<%= simple_form_for [:a, @contato] do |f| %>

  <div id="form_error">
    <%= render '/template/form_error', object: @contato %>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :nome, label: 'Nome', input_html: {placeholder: 'Nome'} %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :email, label: 'E-mail', input_html: {placeholder: 'E-mail'}, as: :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :telefone, label: 'Telefone', input_html: {placeholder: 'Telefone', onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :celular, label: 'Celular', input_html: {placeholder: 'Celular', onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
        </div>
      </div>
      <%= f.input :mensagem, label: 'Mensagem', input_html: {placeholder: 'Mensagem'} %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="form-group text-right">
        <%= f.button :submit, 'Enviar', class: "btn btn-primary btn-botao" %>
      </div>
    </div>
  </div>

<% end %>

