<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>IP de Origem</th>
        <th>Enviado em:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contatos.each do |contato| %>
        <tr <%= contato.lido_em.nil? ? "class=success" : nil %>>
          <td>
            <%= link_to "#{contato.nome}", a_contato_path(contato), data: { toggle: 'modal', target: '#modal-element-contato', size: :lg  }, class: 'btn btn-xs btn-default' %>
          </td>
          <td><%= contato.email %></td>
          <td><%= contato.telefone %></td>
          <td><%= contato.remote_ip %></td>
          <td><%= l contato.created_at, format: :short %></td>
          <td>
            <% if can? :destroy, contato and !contato.lido_em.nil? %>
              <%= link_to "#{glyph('remove', {tag: :i})} ".html_safe + t('helpers.links.destroy'),
                          a_contato_path(contato),
                          method: :delete,
                          remote: true,
                          data: { confirm: t('helpers.links.confirm_delete', model: "Contato") },
                          class: 'btn btn-xs btn-danger' %>
            <% end %>
            <% if can? :edit, contato %>
                <%= link_to "#{glyph('edit', {tag: :i})} Editar".html_safe, edit_a_contato_path(contato), class: 'btn btn-xs btn-default', title: "Editar Contato" %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="10"><%= pagination_footer @contatos %></td>
      </tr>

    </tbody>
  </table>

</div>
