<% content_for(:title, t('helpers.titles.edit', model: 'Contato')) %>
<div class="container-fluid">

  <div class="page-header">
    <h3><%= t('helpers.titles.edit', model: 'Contato') %> # <%= "#{@contato.id}"%></h3>
  </div>
  <%= render partial: 'form' %>
</div>

<%= javascript_tag do %>
  $(function() {
    $('#modal-element-contato').on('hidden.bs.modal', function (e) {
      $('#contatos_filter_form').submit();
      $(this).removeData('bs.modal');
    });
  });
<% end %>