<% content_for(:title, "#{Settings['CONFIGURACOES.title']}") %>

<div class="container">
	<div id="conteudo">
	</div>
</div>

<div id="sobre">
	<h1 id="sobre_titulo"><%= "#{Settings['SOBRE.titulo']}" %></h1>
	<div class="container">
		<p><%= "#{Settings['SOBRE.conteudo']}".html_safe %></p>
	</div>
</div>

<div id="subbanner">
	<img src="/subbanner.png" style="width: 100%; max-height: 1000px;">
</div>

<div id="quem_somos">
	<h1><%= "#{Settings['QUEM_SOMOS.titulo']}" %></h1>
	<div class="container">
		<p><%= "#{Settings['QUEM_SOMOS.conteudo']}".html_safe %></p>
	</div>
</div>

<div id="subbanner">
	<img src="/subbanner.png" style="width: 100%; max-height: 1000px;">
</div>




<script type="text/javascript">

  $(function($) {

    $("#bt-contato").click(function() {
        atualiza_corpo();
    });

  });


</script>



<script type="text/javascript">
	
$("#bt-home").click(function() {
    $('html, body').animate({
        scrollTop: $("#banner").offset().top-200
    }, 1500);
});
	
$("#bt-quem-somos").click(function() {
    $('html, body').animate({
        scrollTop: $("#sobre").offset().top-100
    }, 1500);
});

	
$("#bt-empreender").click(function() {
    $('html, body').animate({
        scrollTop: $("#quem_somos").offset().top-100
    }, 1500);
});	

$("#bt-contato").click(function() {
    $('html, body').animate({
        scrollTop: $("#conteudo").offset().top-100
    }, 1500);
});

</script>

<script type="text/javascript">
	$(window).scroll(function(){
	    if ($("#banner").offset().top < $(window).scrollTop()){
	         $("#bt-home").addClass("efeito");
	         $("#bt-quem-somos").removeClass("efeito");
	         $("#bt-empreender").removeClass("efeito");
	    }
	    if (($("#sobre").offset().top -400) < $(window).scrollTop()){
	         $("#bt-quem-somos").addClass("efeito");
	         $("#bt-home").removeClass("efeito");
	         $("#bt-empreender").removeClass("efeito");
	    }
	    if (($("#quem_somos").offset().top-400) < $(window).scrollTop()){
	         $("#bt-empreender").addClass("efeito");
	         $("#bt-home").removeClass("efeito");
	         $("#bt-quem-somos").removeClass("efeito");
	    }
	    
	    if ($(window).scrollTop() == 0){
	         $("#bt-home").removeClass("efeito");
	         $("#bt-quem-somos").removeClass("efeito");
	         $("#bt-empreender").removeClass("efeito");
	         $("#bt-home").addClass("efeito-home");
	         atualiza_corpo(1);
	    }
	    
	    if ($(window).scrollTop() != 0){
	         $("#bt-home").removeClass("efeito-home");

	    }

	});
</script>


<style type="text/css">
	.efeito{
      outline: 0;
      color: #000 !important;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 1), 0px 0px 5px rgba(255, 255, 255, 1) !important;
	}
	.efeito-home{
      outline: 0;
      color: white !important;
      text-shadow: 0px 0px 3px rgba(000, 000, 000, 1), 0px 0px 5px rgba(000, 000, 000, 1) !important;
	}
	#menu.navbar-shrink .navbar-nav > li > button , #menu.navbar-shrink .navbar-form > li > button {
		color: #e4e4e4;
	}
</style>

