<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="modal_element_label">Esqueceu a sua senha?</h4>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="modal-body">
    <%= render '/template/form_error', object: resource %>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
        <%= f.email_field :email, placeholder: "E-mail", class: "form-control", autofocus: "autofocus" %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-group">
      <div class="input-group">
        <%= f.submit 'Enviar instruções para recuperação de senha', class: "btn btn-primary" %>
        <%= submit_tag 'Voltar', type: :reset, class: "btn btn-warning", "data-dismiss" => "modal" %>
      </div>
    </div>
  </div>

<% end %>