<% content_for(:title, 'Configurações') %>

<div class="page-header">
  <h3>Configurações Gerais</h3>
</div>

<div class="row">

  <div class="col-xs-12">
    <%= simple_form_for a_configuracoes_gerais_salvar_path, method: :post, url: a_configuracoes_gerais_salvar_path do |f| %>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="page-header">
            <h4>SEO</h4>
          </div>
          <%= f.input :title,
                      label: 'Título do Site',
                      required: true,
                      input_html: {name: :title, value: Settings['CONFIGURACOES.title']} %>
          <%= f.input :logo,
                      label: 'Link do Primeiro Logo - CincoCapital',
                      required: true,
                      input_html: {name: :logo, value: Settings['CONFIGURACOES.logo']}, hint: "Usar como Default: /logo.png - Tamanho - 250x100" %>
          <%= f.input :logo_after,
                      label: 'Link do Primeiro Logo - CincoCapital - After',
                      required: true,
                      input_html: {name: :logo_after, value: Settings['CONFIGURACOES.logo_after']}, hint: "Usar como Default: /logo.png - Tamanho - 250x100" %>

        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="page-header">
            <h4>Contato</h4>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <%= f.input :telefone,
                          as: :string,
                          label: 'Telefone de Atendimento',
                          required: true,
                          input_html: {name: :telefone, value: Settings['CONTATO.telefone'], onkeypress: "mascara(this, checaTelefone)", maxlength: 15} %>
              <%= f.input :email,
                          as: :email,
                          label: 'E-mail de Contato',
                          required: true,
                          input_html: {name: :email, value: Settings['CONTATO.email']} %>
              <%= f.input :mensagem,
                          label: 'Mensagem de confirmação de envio',
                          required: true,
                          input_html: {name: :mensagem, value: Settings['CONTATO.mensagem']} %>
              <%= f.input :endereco,
                          as: :ckeditor,
                          label: 'Endereço',
                          required: true,
                          input_html: {name: :endereco, value: Settings['CONTATO.endereco']} %>
              <%= f.input :atendimento_online,
                          as: :url,
                          label: 'Link para Atendimento Online',
                          required: false,
                          input_html: {name: :atendimento_online, value: Settings['CONTATO.atendimento_online']} %>
              <%= f.input :mapa_iframe,
                          as: :text,
                          label: 'Incorporar Google Maps',
                          required: false,
                          hint: 'Adicionar o <iframe>, deixei o height com 350 e width em 100%.',
                          input_html: {name: :mapa_iframe, value: Settings['CONTATO.mapa_iframe']} %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="page-header">
            <h4>Redes Sociais</h4>
          </div>
          <%= f.input :site,
                      as: :url,
                      label: 'Link para Site',
                      required: false,
                      hint: 'Utilizar o link completo com http://',
                      input_html: {name: :site, value: Settings['REDE_SOCIAIS.site']} %>
          <%= f.input :facebook,
                      as: :url,
                      label: 'Link para Facebook',
                      required: false,
                      hint: 'Utilizar o link completo com http://',
                      input_html: {name: :facebook, value: Settings['REDE_SOCIAIS.facebook']} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>



<%= javascript_include_tag 'ckeditor/ckeditor.js' %>