<% provide(:title, "Termos") %>

<div class="page-header">
  <h3><%= t '.title', default: 'Termos' %></h3>
</div>

<div class="row">

  <div class="col-xs-12">
    <%= simple_form_for a_configuracoes_termos_salvar_path, method: :post, url: a_configuracoes_termos_salvar_path do |f| %>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= f.input :titulo,
                      label: 'Título para a Página',
                      input_html: {name: :titulo, value: Settings['TERMOS.titulo']} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.input :conteudo,
                      as: :ckeditor,
                      label: 'Conteúdo',
                      required: false,
                      input_html: {name: :conteudo, value: Settings['TERMOS.conteudo']} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.input :privacidade,
                      as: :ckeditor,
                      label: 'Privacidade',
                      required: false,
                      input_html: {name: :privacidade, value: Settings['TERMOS.privacidade']} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'ckeditor/ckeditor.js' %>