.capa{
  width: 120px;
}
.control-group.nested-fields{
  border-bottom: 1px solid #EEE;
  margin-bottom: 5px;
}
#menu .navbar-header .navbar-brand{
  font-size: 1.4em;
}

.conteudo{
  border-left: 1px solid #ddd;
}
h3.panel-title{
  font-size: 22px;
  a.pull-right{
    color: #fff !important;
  }
}

.ocultar_per_page div#pagination{
  span.exibir,
  select#per_page{
    display: none;
  }
}

.funkyradio label.list{
  cursor: default !important;
  padding-right: 10px;
  width: auto;
}


.devfor{
  position: absolute;
  right: 15px;
  color: #777;
  margin-top: -15px;
  a{
    color: #777;
    text-decoration: none;
  }
}


.block-overflow {
  height: 400px;
  overflow-y: auto;
}

.btn-black{
  background-color: #1a1a1a;
  color: #f2f2f2;
  &:hover, &:focus{
    background-color: black;
    color: white;
  }
}

.btn-cinza{
  background-color: #bcc4c0;
  color: white;
  &:hover, &:focus{
    background-color: #949b98;
    color: white;
  }
}


.menubar{
  height: 100%;
  background-color: #EDEDED;
  font-size: 12px;
  span.badge{
    background-color: #49A149;
    color: white !important;
    font-size: 10px;
  }
  h4.panel-title{
    font-size: 13px;
  }
  .panel{
    border: none;
  }
  .panel-default{
    border: none;
  }
  .panel-group{
    a{
      text-decoration: none;
      color: #3e3e3e;
      font-size: 10px;
      span{
        color: #0B0B61;
      }
      .panel-heading{
        background-color: #EDEDED;
        transition: 0.5s;
        border-radius: none;
        &:hover{
          background-color: #d4d4d4;
          -webkit-transition: background-color 0.3s linear;
          -ms-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
        }
      }
    }
  }
}



.panel-black{
  background-color: #333333;
  color: #f2f2f2;
  min-height: 100px;
  padding: 10px;
  margin: 30px 0;
  &:hover, &:focus{
    background-color: black;
    color: white;
  }
}





body{}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

