<% content_for(:title, "Login") %>

<div id="new_session">

  <div id="login_session_text" class="text-center">
    <%= image_tag 'logo-450.png', alt: Settings['CONFIGURACOES.title'] %>
    <h3><%= Settings['CONFIGURACOES.title'] %></h3>
  </div>

  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><%= t("login.title") %></h3>
      </div>

      <div class="panel-body">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form usuario" } ) do |f| %>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><%= glyph('user', {tag: :i}) %></div>
              <%= f.email_field :email, autofocus: true, placeholder: t("login.email_label"), class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><%= glyph('lock', {tag: :i}) %></div>
              <%= f.password_field :password, autocomplete: :off, placeholder: t("login.password_label"), class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit t("login.login_button_label"), class: 'btn btn-primary btn-lg' %>
            <%= link_to "Recuperar Senha", new_a_usuario_password_path, class: 'btn btn-link', data: { toggle: 'modal', target: '#modal-element' }, style: "color: #C9302C;" %>
          </div>

        <% end %>
      </div>
    </div>

    <div class="links_copyright">
      <span>Copyright &copy; 2017 <a href="http://cincocapital.com.br/" target="_blank">CINCO CAPITAL</a>. Todos os direitos reservados.</span>
    </div>

  </div>
</div>