<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="modal_element_label"><%= t('usuarios.password_change', nome: @usuario.nome).html_safe %></h4>
</div>

<%= simple_form_for [:a, @usuario], url: a_usuarios_salvar_senha_path, method: :post, remote: true do |f| %>

  <div class="modal-body">
    <div id="form_error">
      <%= render '/template/form_error', object: @usuario %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :password_atual, label: t('usuarios.password_atual'), required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :password, label: t('usuarios.password_new'), required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :password_confirmation, label: t('usuarios.password_confirmation'), required: true %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.button :submit, t('usuarios.password_change_save'), class: "btn btn-primary" %>
          <%= link_to t('.cancel', default: t("helpers.links.cancel")), "javascript:void(0)", class: 'btn btn-danger', data: {dismiss: 'modal'} %>
        </div>
      </div>
    </div>
  </div>

<% end %>