<% content_for(:title, t('action_controller.adicionar', model: t('usuarios.usuario'))) %>

<div class="page-header">
  <h3><%= t('action_controller.adicionar', model: t('usuarios.usuario')) %></h3>
</div>
<%= render partial: 'form' %>
