<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQJRM67');</script>
<!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= display_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <link sizes="180x180" rel="apple-touch-icon" href="<%= image_path('touch-icon.png') %>">
    <link sizes="192x192" rel="icon" href="<%= image_path('touch-icon.png') %>">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'frontend' %>
    <%= csrf_meta_tag %>
    <%= render "template/frontend/google_analytics", google_analytics:  Settings['CONFIGURACOES.google_analytics'] unless Settings['CONFIGURACOES.google_analytics'].blank? %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQJRM67" height="0" width="0" style="display:none;visibility:hidden">  
</iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <%= yield :meta_script %>

    <div class="modal fade" id="modal-element" tabindex="-1" role="dialog" aria-labelledby="modal-element-label" aria-hidden="true">
      <div class="modal-dialog" id="modal-element-dialog">
        <div class="modal-content" id="modal-element-content"></div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="load-ajax">
        <%= image_tag 'loader.gif' %>
      </div>
    </div>


    <!-- Corpo do Site / Conteúdo -->
    <div class="container conteudo">
      <%= yield %>
    </div>



  </body>
</html>
