<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <!-- Google Tag Manager -->


<!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= display_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <link sizes="180x180" rel="apple-touch-icon" href="<%= image_path('touch-icon.png') %>">
    <link sizes="192x192" rel="icon" href="<%= image_path('touch-icon.png') %>">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'frontend' %>
    <%= csrf_meta_tag %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->


    <div class="modal fade" id="modal-element" tabindex="-1" role="dialog" aria-labelledby="modal-element-label" aria-hidden="true">
      <div class="modal-dialog" id="modal-element-dialog">
        <div class="modal-content" id="modal-element-content"></div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="load-ajax">
        <%= image_tag 'loader.gif' %>
      </div>
    </div>

    <!-- Header -->
    <%= render 'template/frontend/header' %>

    <!-- Banner -->
    <%= render 'template/frontend/banner' if current_page? root_path  %>


    <!-- Corpo do Site / Conteúdo -->
    <div class="">
      <%= yield %>
    </div>


    <!-- Mapa do site e Footer -->

      <%= render 'template/frontend/footer' %>
  </body>
</html>
